.voir__carousel {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  padding-top: 20px;
  padding-bottom: 8px;

  > img {
    width: 100%;
    height: 65vh;
    object-fit: cover;
    object-position: center;
  }

  .voir__carousel__actions {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 46%;
    transform: translateY(-50%);
    padding-inline: 32px;

    button {
      display: grid;
      place-items: center;
      outline: none;
      border: none;
      width: 44px;
      height: 44px;
      border-radius: 100%;
      background: rgba(0 0 0 / 60%);
      transition: transform 0.5s ease-in-out;
      cursor: pointer;

      &:active {
        transform: scale(0.9);
      }
    }
  }

  .voir__carousel__rest__images {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-inline: 16px;
    scroll-snap-type: x proximity;
    overflow: scroll;
    column-gap: 16px;

    img {
      scroll-snap-align: start;
      width: auto;
      height: 10vh;
      aspect-ratio: 16/9;
      object-fit: cover;
      object-position: center;
      border-radius: 16px;
      border: 2px solid transparent;
      cursor: pointer;

      &:hover {
        border: 2px solid var(--black);
      }

      &[aria-selected="true"] {
        border: 2px solid var(--black);
      }
    }
  }
}
